[submodule "my.base.theme"]
	path = my.base.theme
	url = https://github.com/sovanta/my-base-theme.git
[submodule "my.customer.theme"]
	path = my.customer.theme
	url = https://github.com/sovanta/my-customer-theme.git
[submodule "my.control.library"]
	path = my.control.library
	url = https://github.com/sovanta/my-control-library.git
